<table class="table table-success table-hover">
    <thead class="table-dark">
        <tr>
            <th>Prenotazione ID</th>
            <th>Data Prenotazione</th>
            <th>Data Arrivo</th>
            <th>Data Partenza</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Numero Camera</th>
            <th>Tipo Pensione</th>
            <th>Dettaglio</th>
            <th>Aggiungi Servizi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prenotazione in Model)
        {
            <tr>
                <td>@prenotazione.Prenotazione_ID</td>
                <td>@prenotazione.Data_Pren.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Data_Arrivo.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Data_Partenza.ToString("yyyy-MM-dd")</td>
                <td>@prenotazione.Ospite.Nome</td>
                <td>@prenotazione.Ospite.Cognome</td>
                <td>@prenotazione.Camera.Numero</td>
                <td>@prenotazione.Pensione.Tipo</td>
                <td class="d-flex">
                    @Html.ActionLink("Dettaglio", "Details", "Prenotazioni", new { id = prenotazione.Prenotazione_ID }, new { @class = "btn btn-success me-2" })
                </td>
                <td>
                    @Html.ActionLink("Aggiungi servizi", "AddServizi", "Prenotazioni", new { id = prenotazione.Prenotazione_ID }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
